In [ ]:
#ML(numpy, pandas, matplotlib, seaborn, scipy, plotly, scikit learn), DL(google (tensorflow), facebook(pytorch), mxnet(amazon), Microsoft(Thenao))

In [ ]:
pip list #!pip list, jupiter !pip list

In [ ]:
#ML
#1. how to math using python----------->numpy(numerical python)
#2. Data handling & data manipulation -------------->pandas
#3. Data visualization------------>matplotlib, seaborn, plotly
#4. whenever you use an extrnal package
#download one time activity
#install (one time activity)
#import the package in your project (whenevr you maka a new project you have to import it)
#download and install a package in python
!pip install numpy

In [ ]:
#how know if any package instaled or not
!pip show numpy

In [ ]:
import numpy as np#surname or alias name

In [ ]:
#check the version
np.__version__

In [ ]:
#upgrade version
!pip install --upgrade np

In [ ]:
#unistall package
!pip uninstall numpy

In [ ]:
#maths
list1=[1,2,3,4]#list hetergeneous data type
#expetced o/p=[2,4,6,8]

In [ ]:
l2=[]
for i in list1:
    l2.append(i*2)
print(l2)
#time complexity o(n)
#for loop only small elements
#when you million records

In [ ]:
#10 Million records 10 M

In [ ]:
list1*2

In [ ]:
import array

In [ ]:
r=array.array("i",(1,2,3,4))

In [ ]:
r*2

In [ ]:
#list is heterogeuos data point
#list not support multi dimensionl. only one dimension
#but nested list you can

In [ ]:
dir(np)

In [ ]:
#for data science you must have at least 50 functions more often to use

In [ ]:
array---->1D list1=[1,2,3,3]
        2D---->matrix---->[[1,2,3]]
        3D---->[[[1,2,3,4]]]
        4d



        nd

In [ ]:
#Disadvantages:
#1. not being super instrumental as operations are in sequantial manner.
#2. no-dimentinalilty in lists, we to nested but they are complex and more expensive in computation

In [ ]:
#numpy
#1. using broadcasting we can do the operations in parallel.
#2. np arrays are n-dimensional

In [ ]:
list1
#list1*2=list1+list2

#1. convert a list to np array

In [ ]:
ar=np.array(list1)

In [ ]:
print(ar)

In [ ]:
ar

In [ ]:
print(type(ar))

In [ ]:
#ndarray-------------->n dimensional array
ar
#expected otput is [2,4,6,8]

In [ ]:
ar*2

#2. Zeros in my array

In [ ]:
np.zeros(10,dtype=int) #one dimensional with all elements are zeros

In [ ]:
np.zeros(10,dtype=float)

#3. ones in my array

In [ ]:
np.ones(10,dtype=float) #one dimensional with all elements are ones

In [ ]:
#guru mantrs any functio
?np.zeros #colab only

In [ ]:
#. make an array with 4's 7column and 5rows

In [ ]:
ar1=np.ones((5,7),dtype=int)*4 #or np.zeros((7,5),dtype=int)+4

In [ ]:
np.zeros((5,7),dtype=int)+4#0(1)time complexity

In [ ]:
list2=[1,2,3]+4

#4. shape

In [ ]:
ar1.shape

#5. dimensions

In [ ]:
ar1.ndim

In [ ]:
ar.itemsize

In [ ]:
ar.size

In [ ]:
ar2=np.zeros((5,7,6),dtype=int)+8 #shape(cell,rows,column)

In [ ]:
ar2.ndim

In [ ]:
ar2

In [ ]:
ar2.dtype

In [ ]:
#freez the values or fix when it call random int values use seed method

In [ ]:
np.random.seed(42)
np.random.randint(10,50,(3,3,2))

In [ ]:
ar3

In [ ]:
#decimal random numbers
np.random.rand(9)

In [ ]:
np.random.rand(2,3,4)

In [ ]:
#convert from 1D to 2D
#reshape
#if i want 9 elements what is possible shape 2D array?

[1,2,3,4,5,6,7,8,9]

In [ ]:
12 elemtnts
3*4
4*3
6*2
2*6
12*
1*12

In [ ]:
ar5=np.arange(9)#similar to range

In [ ]:
ar5

In [ ]:
ar5.ndim

In [ ]:
ar5.reshape(6,3)

In [ ]:
ar6=ar5.reshape(9,1)

In [ ]:
ar6.shape

In [ ]:
ar6

In [ ]:
?ar6.max

In [ ]:
ar6.min()

In [ ]:
ar6.sum()

In [ ]:
ar6.mean()

In [ ]:
ar6.std()

In [ ]:
ar6.max(axis=0)#rows